.dropbtn1{
    border-top: 0;
    background-image: url(images/nightsky.jpg);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 200px;
    border: 1px solid black;
    border-top: 0px;
  }
  
  .dropbtn2 {
    border-top: 0px;
    background-image: url(images/background-image-2.jpeg);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 200px;
    border: 1px solid black;
    border-top: 0px;
  }
  
  .dropbtn3 {
    
    background-image: url(images/5708.jpg);
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    width: 200px;
    border: 1px solid black;
    border-top: 0px;
  }



  .about {
    align-self: flex-start;
    width: 200px;
    text-align: center;
    height: 300px;
    background-image: url(images/nightsky.jpg);
    color: aliceblue;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-about {
    position: absolute;
    display: none;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropbtn1:hover + .dropdown-about,
  .dropdown-about:hover {
    display: block;
  }



  .education {
    align-self: center;
    text-align: center;
    width: 200px;
    height: 300px;
    background-image: url(images/background-image-2.jpeg);
    color: burlywood;
  }
  .dropdown2 {
    position: relative;
    display: inline-block;
  }

  .dropdown-education {
    position: relative;
    display: none;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-education a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropbtn2:hover + .dropdown-education,
  .dropdown-education:hover {
    display: block;
  }
  


  .goals{
    text-align: center;
    width: 200px;
    height: 300px;
    background-image: url(images/5708.jpg);
    background-position: 20%;
    color: white;
  }


  .dropdown3 {
    position: relative;
    display: inline-block;
  }

  .dropdown-goals {
    position: relative;
    display: none;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-goals a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropbtn3:hover + .dropdown-goals,
  .dropdown-goals:hover {
    display: block;
  }
