h1 {
    padding: 15px;
    text-align: center;
    font-size: xx-large;
    border: 2px solid black;
    border-left: 0px;
    border-right: 0px;
    width: 1475px;
    margin: auto;
}

.container{
    display: flex;
    flex-basis: content;
    flex-wrap: wrap;
    flex-direction: row;
    height: 800px;
    justify-content: space-around;
}
.picture {
  align-self: self-end;
  width: 50%;
  height: 50%;
}

.about {
   width: 200px;
   text-align: center;
   height: 500px;
   border: 1px solid black;
   background-image: url(images/background-image-1.jpeg);
   color: coral;
}

.education {
  text-align: center;
  border: 1px solid black;
  width: 200px;
  height: 500px;
  background-image: url(images/background-image-2.jpeg);
  color: burlywood;
}

.goals{
    text-align: center;
    border: 1px solid black;
    width: 200px;
    height: 500px;
    background-image: url(images/background-image-3.jpeg);
    color: wheat;
}

footer {
    margin-left: 10px;
}

