h1 {
    text-align: center;
    font-size: xx-large;
    max-width: 100%;
    padding: 20px;
}
@media screen and (max-width: 700px) {
  h1 {
    width: 100%;
    height: auto;
    position: relative;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    text-align: center;
    float: none;
  }
} 

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0 15px;
  
}
@media (max-width: 400px) {
  .container {
    width: 90%;
    padding: 0 20px;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 0 20px;
    height: 100% auto;
  }
}


.slideshow-container {
  width: 25%;
  position: relative;
  margin: auto;
  align-self: center;
  height: 25%;
  margin-top: 20px;
}
@media (max-width: 400px) {
  .slideshow-container {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .slideshow-container {
    width: 100%;
    height: 100%;
  }
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;

}

.tabcontent {
  color: rgb(0, 0, 0);
  display: none;
  text-align: center;
}

#About {background-color: white;border: 1px solid black; margin: auto; text-align: center;}
#Education {background-color: white; border: 1px solid black; text-align: center;}
#Skills {background-color: white; border: 1px solid black; text-align: center;}

nav {
  text-align: center;
}

footer {
  text-align: left;
  align-self: flex-end;
  margin-bottom: auto;
  margin-left:5px;

}

header {
  margin: auto;
}

