h1 {
    padding: 15px;
    text-align: center;
    font-size: xx-large;
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    width: 1475px;
    margin: auto;
}


footer {
  margin-left: 10px;
  align-self: baseline;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-basis: 1000px;
  height: 800px;
  flex-wrap: wrap;
  border: 1px solid black;
}

.image-carousel {
  width: 5%;
  height: 5%;
  display: none;
}




